* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

body {
    background-color: #092549;
    /*rgb(30, 138, 253)) Azul bnt*/
    text-align: center;
}

.subb {
    display: flex;
    justify-content: left;
    padding-left: 15%;
}


.mer_napartedecima {
    margin-top: 15px;
    margin-right: 50px;
    color: #D7F9FF;
    font-family: "Raleway", sans-serif;
    font-weight: 100;
    padding-top: 2%;
}

a.btn_cabeca {
    margin-top: 15px;
    color: #D7F9FF;
    margin-left: 600px;
    font-family: "Raleway", sans-serif;
}

a.btn_cabeca1 {
    margin-top: 15px;
    color: #D7F9FF;
    font-family: "Raleway", sans-serif;
}

a.btn_cabeca2 {
    margin-top: 15px;
    color: #D7F9FF;
    font-family: "Raleway", sans-serif;
}

.btn_cabeca {
    padding-top: 2%;
    background-color: rgb(28, 89, 194, );
    opacity: 0.7;
    margin-right: 20px;
}

.btn_cabeca1 {
    padding-top: 2%;
    background-color: rgb(28, 89, 194, );
    opacity: 0.7;
    margin-right: 20px;
}

.btn_cabeca2 {
    padding-top: 2%;
    background-color: rgb(28, 89, 194, );
    opacity: 0.7;
}

.hrp {
    width: 70%;
    height: 3px;
    margin-left: 14%;
    background-color: rgb(25, 21, 21)
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 8px;
}

h2 {
    text-align: left;
    padding-left: 15%;
}

h4 {
    text-align: left;
    padding-left: 15%;
}

img {
    height: 500px;
    width: 500px;
    align-self: center;
}

.fontEscritura{
    padding-right: 50; /*#D7F9FF: titulo*/
    color: rgb(192, 216, 236); /*#93CED7: explicacao */
    text-align: left;
    padding-right: 15%;
    padding-left: 15%;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.link_vert {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D7F9FF;
    text-decoration: none;
    margin-bottom: 10px;
}

.semstrog {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: rgb(136, 208, 236);
    
}

section {
    width: 100%;
    margin-top: calc(100px + 4%);
}

section p {
    font-size: 22px;
    color: rgb(80, 80, 80, );
    width: 100%;
    padding: 2%;
    max-width: 600px;
    margin: 0 auto;
    line-height: 42px;
}

.principal_header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: left;
    padding-left: 13%; 
    place-items: left;
    width: 100%;
    height: 12%;
    background-color:#041327;
    font-family: "Inter", sans-serif;
}

.logo {
    width: 130px;
    height: 100px;
}


.steps {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.steps li {
    margin: 20px 0;
    position: relative;
    padding-left: 30px;
}


header h2 {
    font-size: 42px;
    color: rgb(80, 80, 80);
    padding: 2%;
}


div.scroll-progresso {
    width: 0;
    height: 100px;
    background-color: rgb(73, 144, 47);
}


a {
    text-align: center;
    color: rgb(58, 135, 216);
    text-decoration: none;
}

a:hover {
    color: rgb(194, 236, 222);
}

#hdGado {
    width: 800px;
}

.container {
    background-color: #0d367c;
    border-radius: 10px;
    padding: 10px;
    width: 197px;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    text-align: center;
    position: fixed;
    top: 200px;
    z-index: 1000;
    position: fixed;
    right: 50px;
    top: 200px;
    z-index: 1000;
}

.h3_container{
    text-align: center;
}

.ferramenta{
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: rgb(136, 208, 236);
    text-align: left;
    padding-left: 15%;
}

.barra_progre {
    width: 10%;

    background-color: green;

    background-color: rgb(255, 255, 255);

    position: absolute;
    top: 0;
}

ul{
    text-align: left;
    padding-left: 16%;
}

.conteudo {
    padding: 20px;
    max-width: 600px;
}

.container h3 {
    font-size: 18px;
    margin-bottom: 20px;
}


.steps li:nth-child(1)::before {
    background-color: rgb(6, 92, 184);
}



/* BARRINHA DE PROGRESSÃO DAQUI PARA BAIXO */
.steps li:nth-child(1)::after {
    top: 16px;
    /* Define o início da linha depois da bolinha */
    bottom: -22px;
    /* Quebra antes da segunda bolinha */
}

/* Para o segundo item */
.steps li:nth-child(2)::after {
    top: 16px;
    bottom: -22px;
    /* Fim antes da terceira bolinha */
}

/* Para o terceiro item */
.steps li:nth-child(3)::after {
    top: 16px;
    bottom: -22px;
    /* Fim antes da quarta bolinha */
}

/* Para o quarto item */
.steps li:nth-child(4)::after {
    top: 16px;
    bottom: -22px;
    /* Fim antes da quinta bolinha */
}

/* Para o quinto item, sem linha após a última bolinha */
.steps li:nth-child(5)::after {
    top: 16px;
    bottom: -22px;
    /* Fim logo abaixo da bolinha */

}

.steps li:nth-child(6)::after {
    top: 16px;
    bottom: -22px;
    /* Fim logo abaixo da bolinha */

}

/* FIM DA BARRINHA DE PROGRESSÃO */

#mer {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}