* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

body {
    background-color: color-mix(in srgb, #4A6DE5, #4e75ec 10%); /*rgb(30, 138, 253)) Azul bnt*/
    text-align: center;
}

.subb {
    display: flex ;
    justify-content: center;
}

.mer_napartedecima{
    padding-top: 13px;
    font-family: "Merriweather" serif;
    font-size: 70px;
}

h1{
    text-align: center;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 8px;
}

h2{
    text-align: center;
}

h4{
    text-align: left;
    padding-left: 15%;
}

img {
    height: 500px;
    width: 500px;
    align-self: center;
}

p{
    padding-right: 50;
    color: black;
    text-align: left;
    padding-right: 15%;
    padding-left: 15%;
}

section {
    width: 100%;
    margin-top: calc(100px + 4%);
}

section p {
    font-size: 22px;
    color: rgb(80, 80, 80);
    width: 100%;
    padding: 2%;
    max-width: 600px;
    margin: 0 auto;
    line-height: 42px;
}

.principal_header {
    position: fixed;
    top: 0;
    display: grid;
    place-items: left; /* !! */
    width: 100%;
    height: 12%;
    background-color: rgb(28, 89, 194);
    
}


.steps {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

.steps li {
    margin: 20px 0;
    position: relative;
    padding-left: 30px;
}


header h2 {
    font-size: 42px;
    color: rgb(80, 80, 80);
    padding: 2%;
}

div.progresso {
    width: 100%;
    height: 50%;
    background-color: rgb(86, 128, 221);
}

div.scroll-progresso {
    width: 0;
    height: 100px;
    background-color: rgb(73, 144, 47);
}


#link_vert {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#prinComM {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-bottom: 10px;
}

a {
    text-align: center;
    color: rgb(58, 135, 216);
    text-decoration: none;
}

 a:hover {
    color: rgb(194, 236, 222);
}

.fontEscritura {
    font-family: Garamond;
}

#hdGado {
    width: 800px;
}

.container {
    background-color: #0d367c;
    border-radius: 10px;
    padding: 10px;
    width: 197px;
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
    text-align: center;
    position: fixed; /* Para manter o container fixo na tela */
    right: 25px; /* Alinha o container à direita da tela */
    top: 200px; /* Define a distância do topo da tela */
    z-index: 1000; /* Garante que ele fique sobre outros elementos da página */
}

#comp {
    font-family: Garamond;
    text-align: center;
}

.barra_progre {
    width: 10%;
    background-color: green; 
    position: absolute;
    top: 0;
}

.conteudo {
    padding: 20px;
    max-width: 600px;
}

.container h3 {
    font-size: 18px;
    margin-bottom: 20px;
}


.steps li:nth-child(1)::before {
    background-color: rgb(6, 92, 184);
}



/* BARRINHA DE PROGRESSÃO DAQUI PARA BAIXO */
.steps li:nth-child(1)::after {
    top: 16px; /* Define o início da linha depois da bolinha */
    bottom:-22px; /* Quebra antes da segunda bolinha */
}

/* Para o segundo item */
.steps li:nth-child(2)::after {
    top: 16px; 
    bottom: -22px; /* Fim antes da terceira bolinha */
}

/* Para o terceiro item */
.steps li:nth-child(3)::after {
    top: 16px; 
    bottom: -22px; /* Fim antes da quarta bolinha */
}

/* Para o quarto item */
.steps li:nth-child(4)::after {
    top: 16px; 
    bottom: -22px; /* Fim antes da quinta bolinha */
}

/* Para o quinto item, sem linha após a última bolinha */
.steps li:nth-child(5)::after {
    top: 16px; 
    bottom: -22px; /* Fim logo abaixo da bolinha */

}
.steps li:nth-child(6)::after {
    top: 16px; 
    bottom: -22px; /* Fim logo abaixo da bolinha */

}
/* FIM DA BARRINHA DE PROGRESSÃO */

#mer {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

