@charset "UTF-8";

body {
    background-color: rgb(203, 216, 230);
    text-align: left;
}

h1{

    text-align: center;
    
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: left;
    padding: 15px;
}

img {
    height: 400px;
    width: 400px;
    align-self: right;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}